extends ../../../views/layout

block scripts
  script(src='/clientscripts/react.js')
  script(src='/clientscripts/react-dom.js')
  script(src='/clientscripts/browser.js')
  script(type="text/babel" src='/clientscripts/bundle.js')

block title
  | Registration

block content
  .row
    .col-md-12
      .div(id='start')
