extends ../../../views/layout

block scripts
  script(src='/clientscripts/react.js')
  script(src='/clientscripts/react-dom.js')
  script(src='/clientscripts/browser.js')

block title
  | Registration

block content
  .row
    .col-md-12
      .div(id='start')

  script(type="text/babel").
    ReactDOM.render( <h1>Hello, world!</h1>, document.getElementById('start') );
